body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D3EBCD;
}

.rumassala_main{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    animation-name: rumassala;
    animation-duration: 6s;
}
@keyframes rumassala {
    from {background-color:aliceblue;}
    to {background-color: yellow;}
    
  }

.rumassala_main img{
    width: 40%;
    flex: 33.3%;
}

h1{
    -ms-transform: rotate(90deg); 
     transform: rotate(90deg);
     position: relative;
     top: 10px;
     right: 270px;
     font-size: 61px;
     margin: 0;
}

footer{
    text-align: center;
}

.rumassala{
    border: #333 solid 5px;
  
}

p{
    margin: 10px;
    background-color: #333;
    padding: 30px;
    color: #D3EBCD;
}




@media only screen and (max-width: 600px) {
  

   .rumassala_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
  .rumassala_main h1{
    font-size: 50px;
    position: relative;
    right:5px;
    -ms-transform: rotate(0deg); 
     transform: rotate(0deg);
  }
  

 }
 
 footer p{
    background-color:#4CACBC ;
    color: #333;
 }




